body {
    background-color: #292929;
    color: white;
    height: 100%;
    width: 99%;

    font-family: 'Iosevka', monospace;
    padding: none;
    display: flexbox;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.nav {
    justify-content: center;
    display: flex;
    font-family: 'Iosevka', monospace;
    font-size: medium;
}

.marker h3 {
    border-radius: 0 8px 8px 0;
    float: left;
    margin-left: 30px;
    position: relative;
    border-right: 0;
    width: 15%;
    text-align: center;
    font-size: larger;
    overflow-wrap: break-word;
    hyphens: auto;
}

.section {
    border-radius: 0 8px 8px 0;
    float: left;
    position: relative;
    overflow-wrap: break-word;
    hyphens: auto;
    inline-size: 70%;
}

